{% extends "template.html.j2" %}

{% block body %}
    <section class="main_menu_box wide">
        <h3>Search: </h3>
        <input type="text" id="search" placeholder="Search for a lesson...">

        {% for lesson in lessons %}
            <a id="{{ lesson.id }}" data-tags="{{ lesson.tags }}"  href="/lessons/{{ lesson.id }}">
                <article>
                    <h2 title="Tags: {{ lesson.tags }}">{{ lesson.title }}</h2>

                    <p>{{ (lesson.body|render|striptags)[:100] }}...</p>
                    <small><b>Tags: {{ lesson.tags }}</b></small>
                </article>
            </a>
        {% endfor %}
    </section>
    {% if session['user'] %}
        {% if session['user']['admin'] %}
            <section class="main_menu_box">
                <h1>Admin Panel</h1>
                <a href="/lessons/edit/0"><article><h2>Create New Lesson</h2></article></a>
            </section>
        {% endif %}
    {% endif %}
{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/fuse.js/dist/fuse.min.js"></script>
    <script src="/lessons.js"></script>
{% endblock %}